*.log
.DS_Store
Thumbs.db

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.fleet
/.idea
/.nova
/.vscode
/.zed
.env

/auth.json

/node_modules/
/vendor/
/vendor-bin/

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/debugbar/

/package-lock.json
/pnpm-lock.yaml
yarn.lock

Homestead.json
Homestead.yaml
